{
  "youtube": {
    "clientId": "<client-id>",
    "clientSecret": "<client-secret>",
    "refreshToken": "<refresh-token>"
  },
  "twitter": {
    "clientId": "<client-id>",
    "clientSecret": "<client-secret>",
    "refreshToken": "<refresh-token>"
  }
}
